Requesting constraint A on edge e0:
    e1, e2 = e0's adjacent edges
    if e1.has_constraint:
        action1 = e2.constraint.handle_request( A.request )
        action2 = e1.constraint.handle_request( A.request )
    else:
        action1 = e1.constraint.handle_request( A.request )
        action2 = e2.constraint.handle_request( A.request )

    if action1 and action2:
        action1.apply()
        action2.apply()